---
---

// Basic metrics and colors
$thickness: 1rem;
$dark-grey: #444;
$blue: #5479a5;
$element-spacing: 1rem;
$spacing-color: #fff;

$large-font-size: 3rem;
$info-row-height: 22rem;

// Bootstrap breakpoints
$max-xs: 575px;
$min-sm: 576px;
$max-sm: 767px;
$min-md: 768px;
$max-md: 991px;
$min-lg: 992px;
$max-lg: 1199px;
$min-xl: 1200px;


body {
    font-family: 'Lato' !important;
    color: $dark-grey !important;

    a {
        color: $blue;
        display: inline-block !important;
        height: 1.5rem;
        transition: .25s ease-in;

        &.underlined {

            &::after {
                border-bottom: 2px solid transparent !important;
                content: '';
                margin: 0 auto;
                width: .5rem;
                transition: .25s ease-in;
            }

            &:hover {
                text-decoration: none !important;
                display: inline-block;

                &::after {
                    content: '';
                    display: block;
                    margin: 0 auto;
                    border-color: darken( $blue, 10%) !important;
                    width: 100%;
                }
            }
        }
    }
}

.top-space-fix {
    height: 2.5rem;
}

h1 {
    line-height: 3;
}

h2 {
    color: #fff !important;
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px #000;
}

.navbar {
    border-bottom: 2px solid $blue !important;
}

.navbar-brand {
    padding-top: 0 !important;
    background: url('/static/vd-nav-logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 18rem;
    height: 1.2rem;
}

.nav-link {
    color: #444 !important;
    transition: .15s ease-in !important;

    &:hover {
        color: $blue !important;
    }
}

.frontpage-top {
    height: 50rem;
    background-image: url('/static/frontpage-main-bg.jpg');
    background-size: cover;
}

.logo-row {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.slogan-row {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.slogan-row,
h2 {
    color: #fff;
    font-size: $large-font-size !important;
    text-shadow: 1px 1px 2px #000;
    background-color: rgba(255, 255, 255, .25);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    letter-spacing: .1rem;
    padding-top: $large-font-size;
    padding-bottom: $large-font-size;
}

.slogan-row h1 {
    line-height: 2;
}

.story,
.contact {
    min-height: $info-row-height;

    & .pic-container {
        background-size: cover !important;
        background-position: 50% 50% !important;
        position: relative;

        h2 {
            // Vertical align of the text
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100% !important;
        }
    }
}

.story .pic-container {
    background: url('/static/story-bg.png');
}

.contact .pic-container {
    background: url('/static/contact-bg.png');
}

.aside {
    border: $element-spacing / 2 solid $spacing-color;

    &.pic-container {
        padding-left: 0;
        padding-right: 0;
        padding-top: ( $info-row-height - 3.5 * $large-font-size) / 2;
        background-color: $blue;
    }

    &.text-container {
        background-color: #f7f7f7;
        font-size: 1.3rem;
        padding: $info-row-height / 7 $info-row-height / 5;
    }

    & h1 {
        line-height: 1.5;
    }
}

.social {
    font-size: 2rem;
    padding: 2rem !important;

    & a {
        color: $dark-grey;
        &:hover {
            color: $blue;
        }
    }

    & .fa {
        padding: 0 1rem;
    }
}


// Adding more space for basic elemets
.spacing-top {
    border-top: $element-spacing / 2 solid $spacing-color;
}

.more-spacing-right {
    border-right: $element-spacing solid $spacing-color;
}

.spacing-bottom {
    border-bottom: $element-spacing / 2 solid $spacing-color;
}

.more-spacing-left {
    border-left: $element-spacing solid $spacing-color;
}

input,
textarea {
    border-radius: 0 !important;
}

.btn-custom {
  background: #a1cbff;
  background-image: radial-gradient(at top center, #a1cbff 0%, #5479a5 100%);
  border-radius: 0;
  color: #fff;
  text-shadow: 1px 1px 2px #444;
  font-size: 1rem;
  padding: 5px 40px;
  border: 4px solid #7ca3d3;
  cursor: pointer;
  box-shadow: 0 10px 20px -3px #bbb;
  width: 100%;
  transition: .15s ease-in;

    &:hover {
        background: #5479a5;
        background-image: radial-gradient(at bottom center, #a1cbff 0%, #5479a5 100%);
        border: 4px solid rgba(124, 163, 211, .5);
        text-decoration: none;
        box-shadow: 0 8px 20px -3px #aaa;
    }
}

#status .alert,
#captcha-question {
    font-size: 1rem;
}

#status .alert {
    border: 4px solid transparent;
    border-radius: 0;
    padding: 5px 10px;
    text-align: center;
}

#captcha-question {
    line-height: 2.2;

    & #question {
        font-weight: 700;
    }
}

@media (max-width: $max-md) {
    .slogan-row {
        padding-top: 3rem;
        padding-bottom: 3rem;

        & h1 {
            line-height: 1.5;
        }
    }
}

@media (max-width: $max-sm) {
    .logo-row {
        padding-top: 8rem;
    }

    .slogan-row {
        padding-top: 1rem;
        padding-bottom: 1rem;

        h1 {
            line-height: 1.3;
        }
    }

    .navbar-brand {
        background: url('/static/vd-nav-logo-mini.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 2rem;
    }
}

@media (min-width: $min-md) {
    .nav-link {
        padding: 0 2vw !important;
    }
}

@media (min-width: $min-sm) and (max-width: $max-sm) {
    :root {
        font-size: 11px;
    }

    .text-container {
        padding: 2rem !important;
    }
}

@media (min-width: $min-md) and (max-width: $max-md) {
    :root {
        font-size: 13px;
    }
    .text-container {
        padding: 1rem !important;
    }
}

@media (max-width: $max-xs) {

    :root {
        font-size: 10px;
    }

    .story,
    .contact {
        height: auto;
    }

    .pic-container {
        // I assume here that width is around 98% - this is coming from Bootstrap
        // And making padding-top fake square magic below
        padding-top: 98vw !important;
        position: relative;
        margin: 0 auto;

        & h2 {
            top: (98vw - 1vw) / 2  - 15vw;

            display: block;
            position: absolute;
            line-height: 1vw;
            padding-top: 15vw;
            padding-bottom: 15vw;
            width: 100%;
        }
    }

    .text-container {
        font-size: 1rem;
        padding: 2rem !important;
        height: auto;

        & h1 {
            line-height: 1.5;
        }
    }

    .more-spacing-right {
        border-right: $element-spacing / 2 solid $spacing-color;
    }

    .more-spacing-left {
        border-left: $element-spacing / 2 solid $spacing-color;
    }

    img.logo-chrome {
        width: 60%;
        height: auto;
    }
}

@media (min-width: $min-sm) and (max-width: $max-sm) {
    .pic-container {
        padding-top: 65vw !important;

        & h2 {
            top: (65vw - 1vw) / 2  - 15vw;
        }
    }
}

.col-card-wrapper {
    padding: $element-spacing / 2 !important;
}

.card,
.error-message-box {
    border-radius: 0;
    border: none !important;
    background-image: radial-gradient(circle at bottom center, #e7e7e7 0%, #57a2ad 50%, #00242a 80%);
    padding: $element-spacing $element-spacing * 3 !important;
}

.error-message-box {
    background-image: radial-gradient(ellipse at 50% 90%, #e7e7e7, #57a2ad, #00242a);
    color: #fff;
    font-size: 2rem;
    text-align: center;
    padding-top: 22vh !important;
    padding-bottom: 22vh !important;
}

.card-img-top {
    border-radius: 0;
    box-shadow: 0 20px 30px -10px #666;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.card-text {
    font-size: 1.3rem;
}

.zoom-img {
    //box-shadow: 0 0 20px #666;
    top: 4rem !important;
    padding-bottom: 0 !important;
    background: transparent !important;
}

.zoom-overlay-open .fixed-top {
    z-index: 1;
}

.zoom-overlay {
    background-image: radial-gradient(circle at bottom center, #e7e7e7 0%, #57a2ad 50%, #00242a 80%);
    opacity: .75 !important;
}

.portfolio,
.page-not-found {
    & .h1-wrap {
        background-color: #00242a;
        border: $element-spacing / 2 solid #fff !important;
        margin-top: $element-spacing / 2;
    }

    & h1 {
        font-weight: 700;
    }

    & h1,
    & h3 {
        color: #fff;
        display: block;
        line-height: 2;
        padding-top: 2rem;
        padding-bottom: 2rem;
        text-align: center;
        width: 100%;
        margin: 0 auto;

        &::after,
        &::before {
            background: linear-gradient(to left, transparent, #fff, transparent);
            content: '';
            display: block;
            height: 1px;
        }
    }

    & h3 {
        padding-top: 0;
        padding-top: 1rem;

        &::before {
            display: none;
        }
    }
}