<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {% include head.html %}

<body onload="generateRandomNumbers()">

        {% include header.html %}

        <main>
            <div class="container-fluid frontpage-top spacing-bottom">
                <div class="row logo-row text-center">
                    <div class="col-md-6 offset-md-3">
                        <img class="logo-chrome" src="/static/logo-chrome.svg" width="400" alt="V.D."/>
                    </div>
                </div>
                <div class="row slogan-row text-center">
                    <div class="col-sm-12">
                        {% if site.stage == 'production' %}
                            <h1>
                                FRONT END, DESIGN, POWER DRIVES,
                            <br>
                                ELECTRONICS AND OTHER ART
                            </h1>
                            <p style="font-size: 1rem; color: #333; text-shadow: none;">SITE IS UNDER CONSTRUCTION</p>
                        {% else %}
                            <h1>SITE UNDER CONSTRUCTION</h1>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="container-fluid">

                <div class="row story">
                    <a name="story" class="anchor"></a>
                    <div class="col-lg-5 offset-md-0 col-md-4 offset-sm-2 col-sm-8 text-center aside pic-container more-spacing-left">
                        <h2>STORY</h2>
                    </div>
                    <div class="col-lg-7 offset-md-0 col-md-8 offset-sm-2 col-sm-8 aside text-container more-spacing-right">
                        {{ page.story_title }}
                        {{ page.story_content }}
                    </div>
                </div>

                <div class="row contact">
                    <a name="contact" class="anchor"></a>
                    <div class="col-lg-7 offset-md-0 col-md-8 offset-sm-2 col-sm-8 aside text-container more-spacing-left order-2 order-md-1">
                        <form action="https://getsimpleform.com/messages?form_api_token=53f0c43bb9a2fe95986315076deefc1c" method="post" id="contact-form">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type='name' name='Name' class="form-control" required placeholder="Your name" />
                                    </div>
                                    <div class="form-group">
                                        <input type='email' name='E-mail' class="form-control" placeholder="Your e-mail" required />
                                    </div>
                                    <div class="form-row">
                                        <label class="form-group col-7" id="captcha-question">
                                            <span>Please solve: </span>
                                            <span id="question"></span>
                                        </label>
                                        <div class="form-group col-5">
                                            <input type='text' required name='Captcha-answer' id="answer" class="form-control" placeholder="Answer" />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <textarea name="Message" class="form-control" rows="6" placeholder="Message" required></textarea>
                                </div>

                                <div class="form-group col-md-7" id="status">
                                </div>

                                <div class="form-group offset-md-1 col-md-4">
                                    <input type='submit' value='SUBMIT' class="btn btn-custom" />
                                </div>

                                <!-- <input type='hidden' name='redirect_to' value='https://vushe.github.io' class="form-control" /> -->
                            </form>
                        </div>

                    </div>
                    <div class="col-lg-5 offset-md-0 col-md-4 offset-sm-2 col-sm-8 text-center aside pic-container more-spacing-right order-1">
                        <h2>CONTACT</h2>
                    </div>
                </div>
            </div>

        </main>


        {% include footer.html %}
        {% include scripts.html %}

    </body>

</html>
