<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include head.html %}

<body class="portfolio">

    {% include header.html %}

    <main>
        <div class="container-fluid">
            <div class="row top-space-fix"></div>
            <div class="row">

                <div class="col-lg-12 h1-wrap spacing-top">
                    <h1>DESIGN AND WEB PORTFOLIO</h1>
                </div>

                {% for text in page.texts %}
                    <div class="col-lg-6 col-card-wrapper">
                        <div class="card">
                            <h3 class="card-title">{{ page.titles[forloop.index0] }}</h3>
                            <img class="card-img-top" src="{{ page.images[forloop.index0] }}" data-zoom-src="" alt="Card image cap" data-action="zoom">
                            <div class="card-block">
                                <p class="card-text">{{ text | textilize }}</p>
                                <p>
                                    {% if page.urls[forloop.index0] != false %}
                                        <a class="card-link underlined" href=" {{ page.urls[forloop.index0] }}" target="_blank">{{ page.url-descriptions[forloop.index0] }}</a>
                                    {% else %}
                                        <span>{{ page.url-descriptions[forloop.index0] }}</span>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <!-- <div class="col-lg-12">
                    <h1>POWER ELECTRONICS AND ELECTRIC DRIVES</h1>
                </div> -->

            </div>
        </div>

    </main>


    {% include footer.html %} {% include scripts.html %}

</body>

</html>
